.large-12.columns
  .row
    .large-6.columns.overall_stats
      .panel.callout
        %h5 Percentages by Zones
        %p= overall_percentages
    .large-6.columns
      .panel.callout.radius.overall_stats
        %h5 Overall States
        %p 
          Overall Minimum BPM
          = overall_minimum
        %p 
          Overall Maximum BPM
          = overall_maximum
        %p 
          Overall Average BPM
          = overall_average