.large-12.columns
  .row
    .large-6.columns
      .panel.callout.radius.overall_stats
        %p 
          Overall Minimum BPM
          = overall_minimum
        %p 
          Overall Maximum BPM
          = overall_maximum
        %p 
          Overall Average BPM
          = overall_average